.ui-dialog {
  padding: 0;
  border-radius: 3px;
  width: 600px;
}
.ui-dialog-titlebar-close {
  background-image: none !important;
  background-color: transparent !important;
  border: none !important;
}
.ui-dialog-buttonpane {
  margin-top: 1.0em !important;
  padding: 0 !important;
}
.ui-dialog-buttonset {
  width: 100%;
}
.ui-dialog-buttonset .ui-button {
  margin-left: 4px !important;
  min-width: 15%;
  float: right;
}
.form-style {
  margin-top: 24px;
  margin-bottom: 12px;
}
.form-style .ui-form-titlebar .ui-form-title {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 2.0em;
  font-family: Verdana, Arial, sans-serif;
  padding: 8px;
}
.form-style .ui-form-buttonpane {
  font-family: Verdana, Arial, sans-serif !important;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 8px;
}
.form-style .ui-form-buttonpane .ui-form-buttonset .btn {
  margin-left: 2px;
  margin-right: 2px;
  min-width: 100px;
}
.dialog-style .ui-chrome-titlebar,
.form-style .ui-chrome-titlebar,
.dialog-style .ui-form-titlebar,
.form-style .ui-form-titlebar {
  background-image: none;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #9d9d9d;
}
.dialog-style .ui-chrome-title,
.form-style .ui-chrome-title,
.dialog-style .ui-form-title,
.form-style .ui-form-title {
  color: #ffffff;
}
.dialog-style .ui-chrome-systemclose,
.form-style .ui-chrome-systemclose {
  color: #ee1111;
}
.dialog-style .ui-chrome-systemclose:hover,
.form-style .ui-chrome-systemclose:hover,
.dialog-style .ui-chrome-systemclose:focus,
.form-style .ui-chrome-systemclose:focus,
.dialog-style .ui-chrome-systemclose:active,
.form-style .ui-chrome-systemclose:active {
  background-color: transparent !important;
  color: #ffffff !important;
}
.dialog-style .ui-form-buttonpane,
.form-style .ui-form-buttonpane {
  border-top: 1px solid #96c4f7;
}
.dialog-style .ui-form-button,
.form-style .ui-form-button {
  background-image: none !important;
  background-color: #2d89ef !important;
  color: #ffffff !important;
  border: 1px solid #0d57a9 !important;
}
.dialog-style .ui-form-button:hover,
.form-style .ui-form-button:hover {
  background-color: #a3ccf8 !important;
  color: #ffffff !important;
}
.dialog-style .ui-form-button[disabled],
.form-style .ui-form-button[disabled],
.dialog-style .ui-form-button[disabled]:hover,
.form-style .ui-form-button[disabled]:hover,
.dialog-style .ui-form-button[disabled]:focus,
.form-style .ui-form-button[disabled]:focus,
.dialog-style .ui-form-button[disabled]:active,
.form-style .ui-form-button[disabled]:active {
  background-color: #cecece !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
}
