<div class="mail-history">
    <div class="report-title">Mail History</div>
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Time</th>
                <th>To</th>
                <th>Subject</th>
                <th>From</th>
                <th>Template</th>
                <!--<th>Body</th>-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr data-id="{{ActionBaseId}}">
                <td data-order="{{RecordedOnUnix}}"><div class="recordedOn">{{RecordedOn}}</div></td>
                <td><div class="to">{{To}}</div></td>
                <td><div class="subject">{{Subject}}</div></td>
                <td><div class="from">{{From}}</div></td>
                <td><div class="mailtemplate">{{MailTemplate}}</div></td>
                {{^MailDisabled}}
                    {{#Redirected}}
                        <td><div class="redirectedto"></div>Redirected to {{RedirectedTo}}</td>
                    {{/Redirected}}
                    {{^Redirected}}
                        <td><div class="redirectedto"></div></td>
                    {{/Redirected}}
                {{/MailDisabled}}
                {{#MailDisabled}}
                    <td><div class="mail-disabled">Mail is disabled</div></td>
                {{/MailDisabled}}
                {{#Failure}}
                <td><div class="mail-failed-delivery">{{Failure}}</div></td>
                {{/Failure}}
            </tr>
            {{/data}}
        </tbody>
    </table>
</div>
