.fastnet-menu {
    position: relative;


    *:focus {
        outline: none;
    }

    a {
        color: inherit;
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover, &:visited {
            text-decoration: none;
        }
    }

    .menu-item-panel {
        .menu-item {
            position: relative;

            .indicator {
                position: absolute;
                top: 0;
                right: 4px;
            }

            &:not(.has-submenus) {
                .indicator {
                    display: none;
                }
            }
        }
    }

    &.horizontal {
        display: inline-block;

        .menu-item-panel {
            .menu-item {
            }

            &.level-1 {
                .menu-item {
                    margin: 1px 0 0 0 !important;
                }
            }

            &.level-2 {
                .menu-item {
                    margin: 1px 0 0 1px !important;
                }
            }
        }
    }
}

/*.menu-location {
    margin-top: 12px;
    margin-bottom: 12px;
}*/

.default-menu {
    @base-background-colour: #1b76bc;

    .menu-item {
        padding: 2px 12px 2px 12px;
        margin: 8px 12px 8px 12px;
        line-height: 2.0em;
        border-radius: 3px;
        font-size: x-small;
        color: white;
        background-color: darken(@base-background-colour, 10%);

        &:hover {
            background-color: darken(white, 10%);
            color: darken(@base-background-colour, 10%);
        }
    }

    &.sidemenu {
        margin-top: 12px;
        margin-bottom: 12px;
        .menu-item-panel.level-1 {
            background-color: lightgray;
            border-radius: 3px;
        }
        .menu-item {
            padding: 3px;
            margin: 3px;
            width: 75%;
            line-height: 1.0em;
            font-size: small;
            color:@base-background-colour;
            background-color:transparent;

            &:hover {
                //background-color: darken(white, 10%);
                //color: darken(@base-background-colour, 10%);
            }
            a {
                text-align:left;
            }
        }
    }
}
