@import (reference) "constants.less";

/*@-ms-viewport {
    width: device-width;
}*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Calibri;
}

.modal-content {
    .modal-header, .modal-footer {
        padding: 10px;
    }

    .modal-body {
        textarea.form-control {
            box-shadow: none;
            border-style: none;
        }
    }
}
// now follow default values for all the panels
.SitePanel {
    //font-family: verdana;
    /*font-size: 10.5pt;
    margin-left: auto;
    margin-right: auto;*/
    // simply set the width of this panel to get a fixed width centre panel
}

.ContentPanel {
    /*background-color: white;*/
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flexbox; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.CentrePanel {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    // left and right panels MUST have an explicit width
}

.MenuPanel {
    // override some aspects of bootstrap menu styling
    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: inherit;
        background-color: inherit;
    }
}

.blockui-spinner {
    color: white;
}
.context-menu-container {
    @context-menu-background: white;
    @context-menuitem-background-disabled: lightgray;
    @context-menu-border: #000000;
    border: 2px solid  @context-menu-border;
    border-radius: 4px;
    background-color:@context-menu-background;
    color: black;
    min-width: 128px;
    .context-menu-item {
        margin: 2px;
        /*margin-top:2px;
        margin-bottom:2px;*/
        padding: 2px 2px 2px 2px;
        border-radius: 2px;
        &:hover {
            background-color: @context-menu-border;
            color: white;
        }
        &.disabled {
            background-color: @context-menuitem-background-disabled;
            color: @context-menu-background;
            &:hover {
                background-color: @context-menuitem-background-disabled;
                color: @context-menu-background;
            }
        }
    }
}
.edit-panel {
    height: 0;
    position: relative;
    -moz-transition: height ease 1s;
    -o-transition: height ease 1s;
    -webkit-transition: height ease 1s;
    transition: height ease 1s;
    background-color: black;
    &.closed {
        height: 8px;
    }
    &.open {
        height: 32px;
    }
    &:hover {
        background-color: gray;
    }
    .edit-toolbar {
        opacity: 0.0;
        position: relative;
        top: -24px;
        -moz-transition: opacity ease 2s, top ease 1s;
        -o-transition: opacity ease 2s, top ease 1s;
        -webkit-transition: opacity ease 2s, top ease 1s;
        transition: opacity ease 2s, top ease 1s;
        color: white;
        font-size: 10px;
        //height: 12px;
        padding: 2px 2px 2px 4px;
        display: table;

        &.opaque {
            opacity: 1.0;
            top:0;
        }

        div {
            display: table-cell;

            &:first-child {
                width: 100%;
            }

            button {
                margin-top: 2px;
                line-height: 1.4;
            }
        }
    }
}

.login-status {
    position: relative;

    .login-name {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        position: absolute;
        right: 0;
        top: 60px;
        margin-right: 4px;
        background: transparent;
        color: white;
    }
    /*.login-name:before {
        content: "Welcome: ";
    }*/
}

.modal, .modeless {
    .message {
        font-size: 10px;
        font-style: italic;
        color: @error-message-text;
        margin-left: 15px;
    }

    .error {
        //font-size: 10px;
        font-style: italic;
        color: @error-message-text;
        //margin-left: 15px;
    }

    .footer-link {
        margin-left: 8px;
        font-size: 8pt;
    }
}

.modeless form {
    /*width: 50%;*/
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
    .block-outer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //opacity: 0.5;
        background-color: rgba(255,255,255,0.75);
    }

    .block-inner {
        display: flex;
        z-index: 5000;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .block-spinner {
        z-index: 9999;
        //opacity: 1;
        color: blue;
    }
}

.field-validation-error {
    font-style: italic;
    color: @error-message-text;
}
/*.login-status {
    display:none;
}*/
