/*@-ms-viewport {
    width: device-width;
}*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Calibri;
}
.SitePanel {
  /*font-size: 10.5pt;
    margin-left: auto;
    margin-right: auto;*/
}
.ContentPanel {
  /*background-color: white;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flexbox;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.CentrePanel {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.MenuPanel .nav > li > a:hover,
.MenuPanel .nav > li > a:focus {
  text-decoration: inherit;
  background-color: inherit;
}
.context-menu-container {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: white;
  color: black;
  min-width: 128px;
  z-index: 49999;
}
.context-menu-container .context-menu-item {
  margin: 2px;
  cursor: pointer;
  /*margin-top:2px;
        margin-bottom:2px;*/
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
}
.context-menu-container .context-menu-item:hover {
  background-color: #000000;
  color: white;
}
.context-menu-container .context-menu-item.disabled {
  background-color: lightgray;
  color: white;
}
.context-menu-container .context-menu-item.disabled:hover {
  background-color: lightgray;
  color: white;
}
.context-menu-container .context-menu-item-separator {
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #aaaaaa;
}
[contenteditable=true] {
  resize: none;
  outline: 0 solid transparent;
  border: none;
}
[contenteditable=true]:active,
[contenteditable=true]:focus {
  outline: 2px dashed red;
  border: none;
  z-index: 44444;
}
.edit-panel {
  height: 0;
  position: relative;
  -moz-transition: height ease 1s;
  -o-transition: height ease 1s;
  -webkit-transition: height ease 1s;
  transition: height ease 1s;
  background-color: black;
}
.edit-panel.closed {
  height: 8px;
}
.edit-panel.open {
  height: 32px;
}
.edit-panel:hover {
  background-color: gray;
}
.edit-panel .edit-toolbar {
  opacity: 0.0;
  position: relative;
  top: -24px;
  -moz-transition: opacity ease 2s, top ease 1s;
  -o-transition: opacity ease 2s, top ease 1s;
  -webkit-transition: opacity ease 2s, top ease 1s;
  transition: opacity ease 2s, top ease 1s;
  color: white;
  font-size: 10px;
  padding: 2px 2px 2px 4px;
  display: table;
}
.edit-panel .edit-toolbar.opaque {
  opacity: 1.0;
  top: 0;
}
.edit-panel .edit-toolbar div {
  display: table-cell;
}
.edit-panel .edit-toolbar div:first-child {
  width: 100%;
}
.edit-panel .edit-toolbar div button {
  margin-top: 2px;
  line-height: 1.4;
}
.login-status {
  position: relative;
  /*.login-name:before {
        content: "Welcome: ";
    }*/
}
.login-status .login-name {
  text-decoration: none;
  cursor: pointer;
}
.login-status .login-name:hover {
  text-decoration: underline;
}
.login-status div {
  position: absolute;
  right: 0;
  top: 60px;
  margin-right: 4px;
  background: transparent;
  color: white;
}
.modal .message,
.modeless .message {
  font-size: 10px;
  font-style: italic;
  color: #f82727;
  margin-left: 15px;
}
.modal .error,
.modeless .error {
  font-style: italic;
  color: #f82727;
}
.modal .footer-link,
.modeless .footer-link {
  margin-left: 8px;
  font-size: 8pt;
}
.modeless form {
  /*width: 50%;*/
  margin-left: auto;
  margin-right: auto;
}
.node-item .fa-folder {
  color: #ef9a12;
}
.node-item .title {
  margin-left: 2px;
}
.editor-dialog {
  font-size: small;
}
.editor-dialog.store-browser div[class*='col-xs'] {
  padding-left: 8px;
  padding-right: 8px;
}
.editor-dialog.store-browser .browser-separator {
  display: none;
  border: 1px solid black;
  width: 2px;
  height: 80px;
}
.editor-dialog.store-browser .browser-folder-content {
  padding: 8px;
}
.editor-dialog.store-browser .browser-folder-content table {
  margin-top: -12px;
  width: 100%;
}
.editor-dialog.store-browser .browser-folder-content table td,
.editor-dialog.store-browser .browser-folder-content table th {
  padding-left: 2px;
}
.editor-dialog.store-browser .browser-folder-content table thead tr {
  border-bottom: 2px solid #444444;
  background-color: #aaaaaa;
  color: white;
}
.editor-dialog.store-browser .browser-folder-content table tbody:before {
  content: "-";
  display: block;
  line-height: 0.25em;
  color: transparent;
}
.editor-dialog.store-browser .browser-folder-content table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}
.editor-dialog.store-browser .browser-folder-content table tbody td div {
  padding: 2px;
}
.editor-dialog.store-browser .browser-folder-content table td.url {
  width: auto;
}
.editor-dialog.store-browser .browser-folder-content table td.url div {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 2px;
}
.editor-dialog.store-browser .browser-folder-content table td.url div:hover {
  border: 2px solid #007eea;
}
.editor-dialog.store-browser .browser-folder-content table td.url div.selected {
  background-color: #5eaae8;
  color: white;
}
.editor-dialog.store-browser .browser-folder-content table td.name {
  width: 100%;
}
.editor-dialog.store-browser .browser-folder-content table td.side-content div {
  width: 32px;
}
.editor-dialog.store-browser .browser-folder-content table td.buttons {
  width: auto;
}
.editor-dialog.store-browser .browser-folder-content table td.buttons span {
  cursor: pointer;
}
.editor-dialog.store-browser .browser-folder-content table td.edit-button:hover {
  color: #007eea;
}
.editor-dialog.store-browser .browser-folder-content table td.delete-button:hover {
  color: red;
}
.editor-dialog.store-browser .browser-folder-content table tr[data-landing-page='true'] td.delete-button div {
  display: none;
}
.editor-dialog.store-browser .browser-tree {
  white-space: nowrap;
  overflow: auto;
  padding-right: 8px;
  margin-right: 8px;
}
.editor-dialog.properties .help-block {
  font-size: smaller;
  font-style: italic;
}
.field-validation-error {
  font-style: italic;
  color: #f82727;
}
/*# sourceMappingURL=main.css.map */