.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/*@import (reference) "../bootstrap/variables.less";
@import (reference) "../bootstrap/mixins.less";
@import (reference) "../bootstrap.css";*/
/*@-ms-viewport {
    width: device-width;
}*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Calibri;
}
.fastnet-error-panel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 4px;
  font-size: x-small;
  background-color: #000000;
  width: 75%;
  height: 100px;
  overflow-y: scroll;
  color: white;
}
.SitePanel {
  /*font-size: 10.5pt;
    margin-left: auto;
    margin-right: auto;*/
}
.ContentPanel {
  /*background-color: white;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flexbox;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.CentrePanel {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.MenuPanel .nav > li > a:hover,
.MenuPanel .nav > li > a:focus {
  text-decoration: inherit;
  background-color: inherit;
}
.context-menu-container {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: white;
  color: black;
  min-width: 128px;
  z-index: 49999;
}
.context-menu-container .context-menu-item {
  margin: 2px;
  cursor: pointer;
  /*margin-top:2px;
        margin-bottom:2px;*/
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
}
.context-menu-container .context-menu-item:hover {
  background-color: #000000;
  color: white;
}
.context-menu-container .context-menu-item.disabled {
  background-color: lightgray;
  color: white;
}
.context-menu-container .context-menu-item.disabled:hover {
  background-color: lightgray;
  color: white;
}
.context-menu-container .context-menu-item-separator {
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #aaaaaa;
}
[contenteditable=true] {
  resize: none;
  overflow-y: auto;
  outline: 0 solid transparent;
  border: none;
}
[contenteditable=true]:active,
[contenteditable=true]:focus {
  outline: 2px dashed red;
  border: none;
  z-index: 44444;
}
.edit-panel {
  height: 0;
  position: relative;
  -moz-transition: height ease 1s;
  -o-transition: height ease 1s;
  -webkit-transition: height ease 1s;
  transition: height ease 1s;
  background-color: black;
}
.edit-panel.closed {
  height: 8px;
}
.edit-panel.open {
  height: 32px;
}
.edit-panel:hover {
  background-color: gray;
}
.edit-panel .edit-toolbar {
  opacity: 0.0;
  position: relative;
  top: -24px;
  -moz-transition: opacity ease 2s, top ease 1s;
  -o-transition: opacity ease 2s, top ease 1s;
  -webkit-transition: opacity ease 2s, top ease 1s;
  transition: opacity ease 2s, top ease 1s;
  color: white;
  font-size: 10px;
  padding: 2px 2px 2px 4px;
  display: table;
}
.edit-panel .edit-toolbar.opaque {
  opacity: 1.0;
  top: 0;
}
.edit-panel .edit-toolbar div {
  display: table-cell;
}
.edit-panel .edit-toolbar div:first-child {
  width: 100%;
}
.edit-panel .edit-toolbar div button {
  margin-top: 2px;
  line-height: 1.4;
}
.login-status {
  position: relative;
  /*.login-name:before {
        content: "Welcome: ";
    }*/
}
.login-status .login-name {
  text-decoration: none;
  cursor: pointer;
}
.login-status .login-name:hover {
  text-decoration: underline;
}
.login-status div {
  position: absolute;
  right: 0;
  top: 60px;
  margin-right: 4px;
  background: transparent;
  color: white;
}
.modal .message,
.modeless .message {
  font-size: 10px;
  font-style: italic;
  color: #f82727;
  margin-left: 15px;
}
.modal .error,
.modeless .error {
  font-style: italic;
  color: #f82727;
}
.modal .footer-link,
.modeless .footer-link {
  margin-left: 8px;
  font-size: 8pt;
}
.modeless form {
  /*width: 50%;*/
  margin-left: auto;
  margin-right: auto;
}
.node-item .fa-folder {
  color: #ef9a12;
}
.node-item .title {
  margin-left: 2px;
}
.editor-dialog {
  font-size: small;
}
.editor-dialog.store-browser {
  width: 650px;
}
.editor-dialog.store-browser div[class*='col-xs'] {
  padding-left: 8px;
  padding-right: 8px;
}
.editor-dialog.store-browser .browser-separator {
  display: none;
  border: 1px solid black;
  width: 2px;
  height: 80px;
}
.editor-dialog.store-browser .browser-folder-content {
  max-height: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  /*table {
                td, th {
                    padding-left: 2px;
                    vertical-align: top;
                }

                thead {
                    tr {
                        border-bottom: 2px solid #444444;
                        background-color: #aaaaaa;
                        color: white;
                    }
                }

                tbody {
                    &:before {
                        content: "-";
                        display: block;
                        line-height: 0.25em;
                        color: transparent;
                    }

                    tr:nth-child(even) {
                        background-color: #eeeeee;
                    }

                    td div {
                        padding: 2px;
                    }
                }

                margin-top: -12px;
                width: 100%;

                td.url {
                    width: auto; //20%;
                    div {
                        cursor: pointer;
                        border: 2px solid transparent;
                        border-radius: 2px;

                        &:hover {
                            //border: 1px solid hsl(207.7, 56.4%, 45.9%);
                            border: 2px solid hsl(207.7, 100%, 45.9%);
                        }

                        &.selected {
                            //background-color: #337ab7;
                            background-color: hsl(207, 75%, 64%);
                            color: white;
                        }
                    }
                }

                td.name {
                    width: 100%; //70%;
                    div:nth-child(2) {
                        font-size: x-small;

                    }
                }

                td.remarks {
                    font-size: smaller;

                    div {
                        width: 10%;
                    }
                }

                td.buttons {
                    width: auto;

                    span {
                        cursor: pointer;
                    }
                }

                td.edit-button {
                    &:hover {
                        color: hsl(207.7, 100%, 45.9%);
                    }
                }

                td.delete-button {
                    &:hover {
                        color: red;
                    }
                }

                tr[data-landing-page='true'] {
                    td.delete-button div {
                        display: none;
                    }
                }
            }*/
}
.editor-dialog.store-browser .browser-folder-content div.data {
  max-height: 370px;
  height: 370px;
  overflow-x: hidden;
}
.editor-dialog.store-browser .browser-folder-content div.header {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  border-bottom: 1px solid #aaaaaa;
}
.editor-dialog.store-browser .browser-folder-content div.data > div:nth-child(odd) {
  background-color: lightgray;
}
.editor-dialog.store-browser .browser-folder-content div.data div:not([data-type='page']) .edit-button {
  visibility: hidden;
}
.editor-dialog.store-browser .browser-folder-content div.data div[data-landing-page='true'] .delete-button {
  visibility: hidden;
}
.editor-dialog.store-browser .browser-folder-content div.buttons span {
  cursor: pointer;
}
.editor-dialog.store-browser .browser-folder-content div.edit-button {
  position: relative;
  float: left;
  width: 4.16666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.editor-dialog.store-browser .browser-folder-content div.edit-button:hover {
  color: #007eea;
}
.editor-dialog.store-browser .browser-folder-content div.delete-button {
  position: relative;
  float: left;
  width: 4.16666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.editor-dialog.store-browser .browser-folder-content div.delete-button:hover {
  color: red;
}
.editor-dialog.store-browser .browser-folder-content div.url {
  margin-left: 4px;
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.editor-dialog.store-browser .browser-folder-content div.url div {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 2px;
  padding-left: 2px;
}
.editor-dialog.store-browser .browser-folder-content div.url div:hover {
  border: 2px solid #007eea;
}
.editor-dialog.store-browser .browser-folder-content div.url div.selected {
  background-color: #5eaae8;
  color: white;
}
.editor-dialog.store-browser .browser-folder-content div.remarks {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.editor-dialog.store-browser .browser-folder-content div.name {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.editor-dialog.store-browser .browser-folder-content div.name .size {
  font-size: x-small;
}
.editor-dialog.store-browser .browser-tree {
  max-height: 400px;
  height: 400px;
  width: auto;
  white-space: nowrap;
  overflow: auto;
  padding-right: 8px;
  margin-right: 8px;
}
.editor-dialog.properties .help-block {
  font-size: smaller;
  font-style: italic;
}
.field-validation-error {
  font-style: italic;
  color: #f82727;
}
i.mce-i-wflink:before {
  content: "\e011";
}
/*# sourceMappingURL=main.css.map */