//@import (reference) "../bootstrap.css";
@import (reference) "constants.less";

/*@-ms-viewport {
    width: device-width;
}*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Calibri;
}


// now follow default values for all the panels
.SitePanel {
    //font-family: verdana;
    /*font-size: 10.5pt;
    margin-left: auto;
    margin-right: auto;*/
    // simply set the width of this panel to get a fixed width centre panel
}

.ContentPanel {
    /*background-color: white;*/
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flexbox; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.CentrePanel {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    // left and right panels MUST have an explicit width
}

.MenuPanel {
    // override some aspects of bootstrap menu styling
    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: inherit;
        background-color: inherit;
    }
}


.context-menu-container {
    @context-menu-background: white;
    @context-menuitem-background-disabled: lightgray;
    @context-menu-border: #000000;
    border: 2px solid @context-menu-border;
    border-radius: 4px;
    background-color: @context-menu-background;
    color: black;
    min-width: 128px;
    z-index: 49999;

    .context-menu-item {
        margin: 2px;
        cursor: pointer;
        /*margin-top:2px;
        margin-bottom:2px;*/
        padding: 2px 2px 2px 2px;
        border-radius: 2px;

        &:hover {
            background-color: @context-menu-border;
            color: white;
        }

        &.disabled {
            background-color: @context-menuitem-background-disabled;
            color: @context-menu-background;

            &:hover {
                background-color: @context-menuitem-background-disabled;
                color: @context-menu-background;
            }
        }
    }

    .context-menu-item-separator {
        margin-left: 2px;
        margin-right: 2px;
        border: 1px solid #aaaaaa;
    }
}

[contenteditable=true] {
    resize: none;
    overflow-y: auto;
    //background-color: ActiveCaption;
    outline: 0 solid transparent;
    border: none;

    &:active, &:focus {
        outline: 2px dashed red;
        border: none;
        z-index: 44444;
    }
}

.edit-panel {
    height: 0;
    position: relative;
    -moz-transition: height ease 1s;
    -o-transition: height ease 1s;
    -webkit-transition: height ease 1s;
    transition: height ease 1s;
    background-color: black;

    &.closed {
        height: 8px;
    }

    &.open {
        height: 32px;
    }

    &:hover {
        background-color: gray;
    }

    .edit-toolbar {
        opacity: 0.0;
        position: relative;
        top: -24px;
        -moz-transition: opacity ease 2s, top ease 1s;
        -o-transition: opacity ease 2s, top ease 1s;
        -webkit-transition: opacity ease 2s, top ease 1s;
        transition: opacity ease 2s, top ease 1s;
        color: white;
        font-size: 10px;
        //height: 12px;
        padding: 2px 2px 2px 4px;
        display: table;

        &.opaque {
            opacity: 1.0;
            top: 0;
        }

        div {
            display: table-cell;

            &:first-child {
                width: 100%;
            }

            button {
                margin-top: 2px;
                line-height: 1.4;
            }
        }
    }
}

.login-status {
    position: relative;

    .login-name {
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        position: absolute;
        right: 0;
        top: 60px;
        margin-right: 4px;
        background: transparent;
        color: white;
    }
    /*.login-name:before {
        content: "Welcome: ";
    }*/
}

.modal, .modeless {
    .message {
        font-size: 10px;
        font-style: italic;
        color: @error-message-text;
        margin-left: 15px;
    }

    .error {
        //font-size: 10px;
        font-style: italic;
        color: @error-message-text;
        //margin-left: 15px;
    }

    .footer-link {
        margin-left: 8px;
        font-size: 8pt;
    }
}

.modeless form {
    /*width: 50%;*/
    margin-left: auto;
    margin-right: auto;
}

.node-item {
    //color: red;
    .fa-folder {
        color: #ef9a12;
    }

    .title {
        margin-left: 2px;
    }
}




.editor-dialog {
    font-size: small;

    &.store-browser {
        min-width: 600px;
        min-height: 300px;
        div[class*='col-xs'] {
            padding-left: 8px;
            padding-right: 8px;
        }

        .browser-separator {
            display: none;
            border: 1px solid black;
            width: 2px;
            height: 80px;
        }

        .browser-folder-content {
            // background-color: lightgray;
            padding: 8px;
            //border: 1px solid red;
            table {
                td, th {
                    padding-left: 2px;
                }

                thead {
                    tr {
                        border-bottom: 2px solid #444444;
                        background-color: #aaaaaa;
                        color: white;
                    }
                }

                tbody {
                    &:before {
                        content: "-";
                        display: block;
                        line-height: 0.25em;
                        color: transparent;
                    }

                    tr:nth-child(even) {
                        background-color: #eeeeee;
                    }

                    td div {
                        padding: 2px;
                    }
                }

                margin-top: -12px;
                width: 100%;

                td.url {
                    width: auto; //20%;
                    div {
                        cursor: pointer;
                        border: 2px solid transparent;
                        border-radius: 2px;

                        &:hover {
                            //border: 1px solid hsl(207.7, 56.4%, 45.9%);
                            border: 2px solid hsl(207.7, 100%, 45.9%);
                        }

                        &.selected {
                            //background-color: #337ab7;
                            background-color: hsl(207, 75%, 64%);
                            color: white;
                        }
                    }
                }

                td.name {
                    width: 100%; //70%;
                }

                td.remarks {
                    font-size:smaller;
                    div {
                        width: 80px; // 10%;
                    }
                }

                td.buttons {
                    width: auto;

                    span {
                        cursor: pointer;
                    }
                }

                td.edit-button {
                    &:hover {
                        color: hsl(207.7, 100%, 45.9%);
                    }
                }

                td.delete-button {
                    &:hover {
                        color: red;
                    }
                }
                tr[data-landing-page='true'] {
                    td.delete-button div {
                        display: none;
                    }
                }
            }
        }

        .browser-tree {
            white-space: nowrap;
            overflow: auto;
            padding-right: 8px;
            margin-right: 8px;
            //background-color: bisque;
            //border-right: 1px solid #dedede;
        }
    }

    &.properties {
        .help-block {
            font-size: smaller;
            font-style: italic;
        }
    }
}

.field-validation-error {
    font-style: italic;
    color: @error-message-text;
}

i.mce-i-wflink:before {
    content: "\e011";
}
/*.login-status {
    display:none;
}*/
