<div class="my-booking-view">
    <div class="row">
        <div class="col-xs-12">
            <div class="heading">Your Booking(s)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="booking-interaction"></div>
        </div>
    </div>
</div>
