<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fastnet.Common" version="1.0.5847.36273" targetFramework="net46" />
  <package id="Fastnet.EventSystem.Logging" version="3.2.5847.37148" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net46" />
</packages>