<div >
    <div class="form-body editor-dialog store-browser">
        <!--<div class="row">
            <div class="col-xs-12">
                <div class="browser-toolbar"></div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xs-4">
                <div class="browser-tree pull-left"></div>
            </div>
            <div class="col-xs-8">
                <div class="browser-folder-content ">
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div>
            <!--<button class="btn btn-sm btn-danger pull-left" data-cmd="delete-page">Delete Page</button>-->
            <button class="btn btn-sm btn-primary pull-left" data-cmd="add-new-page">Add New Page</button>
            <button class="btn btn-sm btn-primary pull-left" data-cmd="upload-files">Upload File(s)...</button>
            <button class="btn btn-sm btn-primary" data-cmd="select-page">Select</button>
            <button class="btn btn-sm btn-default" data-cmd="cancel">Cancel</button>
        </div>
    </div>
</div>
