<div>
    <div class="form-body editor-dialog properties directory-properties">
        <div class="form-group" data-property>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" data-item="name" value="{{Name}}" data-focus>
            <div class="message"></div>
        </div>
    </div>
    <div class="form-footer">
        <button class="btn btn-primary" data-cmd="save-changes">Save</button>
        <button class="btn btn-default" data-cmd="cancel">Cancel</button>
    </div>
</div>