<div class="dialog">
    <div class="dialog-body">
        <h4>Enter link url and text</h4>
        <div class="form-group" data-property>
            <label for="linkurl">Link Url</label>
            <input type="text" class="form-control" id="linkurl" placeholder="link url" data-item="linkurl">
            <div class="message"></div>
        </div>
        <div class="form-group" data-property>
            <label for="linktext">Text</label>
            <input type="text" class="form-control" id="linktext" placeholder="link text" data-item="linktext">
            <div class="message"></div>

        </div>
        <div class="error"></div>
    </div>
    <div class="dialog-footer">
        <div class="form-group">
            <button class="btn btn-primary" data-cmd="insertlink">Insert</button>
            <button class="btn btn-default" data-cmd="cancel">Cancel</button>
        </div>
    </div>

</div>
