<div>
    <div class="form-body editor-dialog upload-file">
        <div class="form-group" data-property>
            <div class="input-group">
                <input type="text" class="form-control" readonly>
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" multiple data-item="files-to-upload">
                    </span>
                </span>
                
            </div>
            <div class="message"></div>
        </div>
    </div>
    <div class="form-footer">
        <div>
            <button class="btn btn-sm btn-primary" data-cmd="upload-files">Upload</button>
            <button class="btn btn-sm btn-default" data-cmd="cancel">Cancel</button>
        </div>
    </div>
</div>

