.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
.SitePanel {
  width: auto;
}
.BannerPanel {
  /*background-color: white;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: flexbox;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.login-invitation {
  margin: 4px;
  font-size: 0.9em;
}
.login-invitation a {
  color: orangered;
}
.login-status {
  z-index: 33333;
  /*&.enable {
        display: block;
    }

    &:not(.enable) {
        display: none;
    }*/
  position: relative;
  /*.login-name:before {
        content: "Welcome: ";
    }*/
}
.login-status .login-name {
  text-decoration: none;
  font-size: 0.9em;
  margin-right: 8px;
  /*&:hover {
            text-decoration: underline;
        }

        a {
            color: white;
        }*/
}
.login-status div {
  position: absolute;
  right: 0;
  top: 60px;
  margin-right: 4px;
  background: transparent;
  color: white;
}
.BannerContent {
  position: relative;
}
.BannerContent .app-title {
  z-index: 4499;
  position: absolute;
  top: 10px;
  left: 64px;
  color: #ffffff;
  font-size: 2em;
}
@media only screen and (max-width: 768px) {
  .BannerContent .app-title {
    left: 44px;
    top: 8px;
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 480px) {
  .BannerContent .app-title {
    left: 24px;
    top: 6px;
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 320px) {
  .BannerContent .app-title {
    left: 4px;
    top: 4px;
    font-size: 0.75em;
  }
}
.message-box-body {
  font-size: smaller;
}
.booking-forms .ui-chrome-titlebar,
.booking-forms .ui-form-titlebar {
  background-image: none;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #2d89ef;
}
.booking-forms .ui-chrome-title,
.booking-forms .ui-form-title {
  color: #ffffff;
}
.booking-forms .ui-chrome-systemclose {
  color: #ee1111;
}
.booking-forms .ui-chrome-systemclose:hover,
.booking-forms .ui-chrome-systemclose:focus,
.booking-forms .ui-chrome-systemclose:active {
  background-color: transparent !important;
  color: #ffffff !important;
}
.booking-forms .ui-form-buttonpane {
  border-top: 2px solid #2d89ef;
}
.booking-forms .ui-form-button {
  background-image: none !important;
  background-color: #2d89ef !important;
  color: #ffffff !important;
  border: 1px solid #0d57a9 !important;
  min-width: 80px !important;
  font-size: 0.8em !important;
  outline: none !important;
}
.booking-forms .ui-form-button:hover {
  background-color: #a3ccf8 !important;
  color: #ffffff !important;
}
.booking-forms .ui-form-button[disabled],
.booking-forms .ui-form-button[disabled]:hover,
.booking-forms .ui-form-button[disabled]:focus,
.booking-forms .ui-form-button[disabled]:active {
  background-color: #cecece !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
}
.booking-forms .help-button {
  background-image: none !important;
  background-color: #00aba9 !important;
  color: #ffffff !important;
  border: 1px solid #004544 !important;
}
.booking-forms .help-button:hover {
  background-color: #2bfffd !important;
  color: #ffffff !important;
}
.booking-forms .help-button[disabled],
.booking-forms .help-button[disabled]:hover,
.booking-forms .help-button[disabled]:focus,
.booking-forms .help-button[disabled]:active {
  background-color: #959595 !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
}
.booking-forms label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.booking-forms .message-block {
  font-size: small;
  color: #1e7145;
  font-style: italic;
}
.booking-forms .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.booking-forms .validation-error {
  border: 1px solid red;
}
.booking-forms .help-block {
  font-size: small;
  color: #2d89ef;
}
.booking-disallowed {
  font-weight: bold;
}
.booking-disallowed .explanation {
  font-size: x-small;
  font-weight: lighter;
  color: red;
}
#bookingCalendar .ui-widget {
  font-size: 0.9em;
}
#bookingCalendar .ui-state-disabled {
  opacity: inherit;
}
#bookingCalendar .ui-datepicker table {
  font-size: 0.8em;
}
#bookingCalendar .ui-datepicker th {
  font-weight: normal;
}
#bookingCalendar .out-of-service a,
#bookingCalendar .out-of-service span,
#bookingCalendar .blocked a,
#bookingCalendar .blocked span,
#bookingCalendar .part-booked a,
#bookingCalendar .part-booked span,
#bookingCalendar .not-bookable a,
#bookingCalendar .not-bookable span,
#bookingCalendar .fully-booked a,
#bookingCalendar .fully-booked span,
#bookingCalendar .free a,
#bookingCalendar .free span {
  color: white;
}
#bookingCalendar .out-of-service,
#bookingCalendar .out-of-service a,
#bookingCalendar .out-of-service span {
  background: black;
}
#bookingCalendar .blocked,
#bookingCalendar .blocked a,
#bookingCalendar .blocked span {
  background: #808080;
}
#bookingCalendar .part-booked,
#bookingCalendar .part-booked a,
#bookingCalendar .part-booked span {
  background: orange;
}
#bookingCalendar .fully-booked,
#bookingCalendar .fully-booked a,
#bookingCalendar .fully-booked span {
  background: red;
}
#bookingCalendar .free,
#bookingCalendar .free a,
#bookingCalendar .free span {
  background: #00c800;
}
#bookingCalendar .not-bookable,
#bookingCalendar .not-bookable a,
#bookingCalendar .not-bookable span {
  background: #805050;
}
.booking-month.ui-widget {
  font-size: 0.9em;
}
.booking-month.ui-widget .ui-state-disabled {
  opacity: inherit;
}
.booking-month.ui-widget.ui-datepicker table {
  font-size: 0.8em;
}
.booking-month.ui-widget.ui-datepicker th {
  font-weight: normal;
}
.booking-month .out-of-service a,
.booking-month .out-of-service span,
.booking-month .blocked a,
.booking-month .blocked span,
.booking-month .part-booked a,
.booking-month .part-booked span,
.booking-month .not-bookable a,
.booking-month .not-bookable span,
.booking-month .fully-booked a,
.booking-month .fully-booked span,
.booking-month .free a,
.booking-month .free span {
  color: white;
}
.booking-month .out-of-service,
.booking-month .out-of-service a,
.booking-month .out-of-service span {
  background: black;
}
.booking-month .blocked,
.booking-month .blocked a,
.booking-month .blocked span {
  background: #808080;
}
.booking-month .part-booked,
.booking-month .part-booked a,
.booking-month .part-booked span {
  background: orange;
}
.booking-month .fully-booked,
.booking-month .fully-booked a,
.booking-month .fully-booked span {
  background: red;
}
.booking-month .free,
.booking-month .free a,
.booking-month .free span {
  background: #00c800;
}
.booking-month .not-bookable,
.booking-month .not-bookable a,
.booking-month .not-bookable span {
  background: #805050;
}
.booking-month.end-month .not-bookable.allow a {
  background: #ccadad;
}
.booking-month.end-month .fully-booked.allow a {
  background: #ffa8a8;
}
.booking-month.end-month .blocked.allow a {
  background: #d4d4d4;
}
.booking-month.end-month .out-of-service.allow a {
  background: #545454;
}
.index-page .sub-section .heading {
  margin: 12px;
  font-size: larger;
  font-weight: bold;
}
.index-page .sub-section .row {
  font-size: 12px;
  line-height: 18px;
  /*div:first-child {
                padding-right: 0;
            }*/
}
.index-page .sub-section .btn-link {
  font-family: Verdana;
  font-size: 12px;
  padding-top: 0;
}
.parameters-form button.side-button {
  margin-top: 2.35em;
  font-size: 0.75em;
}
.test-form label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.test-form .order-list {
  margin-left: 7px;
}
.test-form .order-list button[data-cmd='remove-order'] {
  margin-top: 2.25em;
  font-style: italic;
  font-size: 0.75em;
}
.test-form .order-list .col-xs-3 {
  padding-left: 8px;
  padding-right: 8px;
}
.test-form .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.test-form .validation-error {
  border: 1px solid red;
}
