@{
    ViewBag.Title = "CMS";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CMS Index</title>
</head>
<body>
    <div>
        CMS
    </div>
</body>
</html>
