@{
    ViewBag.Title = "CMS";
}
<div class="row">
    <div class="cms-heading">
        Site Content
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="cms-content"></div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/cms")
    <script>
        $(function () {
            var cms = new $.webframe$cms();
            cms.start();
        });
    </script>
}
