<div class="occupancy-report admin-reports">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group-sm">
                <label for="startMonthPicker">From</label>
                <div id="startMonthPicker"  ></div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group-sm">
                <label for="endMonthPicker">To</label>
                <div id="endMonthPicker"></div>
            </div>
        </div>
    </div>
    <!--<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Action</th>
                <th>Email</th>
                <th>Name</th>
                <th>By</th>
                <th>Property</th>
                <th>Old</th>
                <th>New</th>
            </tr>
        </thead>
    </table>-->
</div>
