@import (reference) "../../../Content/bootstrap/variables.less";
@import (reference) "../../../Content/bootstrap/mixins.less";
@import (reference) "../../../Content/bootstrap.css";
@import (reference) "constants.less";

.body-content {
    width: 80%;
}
.fastnet-error-panel {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding:4px;
    font-size:x-small;
    background-color: #000000;
    width: 75%;
    height: 100px;
    overflow-y:scroll;
    color: white;

}